NEXT_PUBLIC_BACKEND_URL_OVERRIDE=
NEXT_PUBLIC_LOCAL_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_DEV_BACKEND_URL=https://altair-backend-dev.onrender.com
NEXT_PUBLIC_PROD_BACKEND_URL=https://altair-backend1.onrender.com
NEXT_PUBLIC_PROD_FRONTEND_URL=https://askaltair.com
